.fondo-Profile{

    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.fondo-Profile:after{

    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/fondo_sena_unity.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px); /* Desenfoque aplicado solo a la imagen de fondo */
  z-index: -1; /* Envía la imagen desenfocada detrás del contenido */
}


/*-------------------*/










/*seccion de la imagen que se guarda*/



.fondo-Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/images/background.png') no-repeat center center;
  background-size: cover;
}

.divPrincipal {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}


.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
}

.profile-image img {
  width: 150px;  /* Tamaño cuadrado */
  height: 150px;
  object-fit: cover; /* Recorta la imagen para que llene el espacio sin deformarse */
  border-radius: 10px; /* Esquinas redondeadas */
  border: 2px solid #ccc; /* Borde ligero */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.profile-image .placeholder {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #666;
  border-radius: 10px;
  border: 2px dashed #aaa; /* Línea discontinua para indicar que falta la imagen */
  font-size: 14px;
}

.profile-image input[type="file"] {
  display: none;
}


.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.profile-form button {
   background: linear-gradient(to right,#e4e518,#25dfc4) ;
    height: 35px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    
    width: 100%;
    margin-top: 30px;
}

.profile-form button:hover{
  background: linear-gradient(to right,#25dfc4, #e4e518) ;
}


.profile-description {
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
}



.boton-cargarimagen {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff; /* Color azul */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s;
}

.boton-cargarimagen:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}
