/* Estilos generales de la sección */
.sedes-section {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/* Línea divisoria */
.divider {
  width: 93%;
  height: 3px;
  background-color: #0B4C28;
  margin: 40px auto;
  border: none;
}

/* Título principal */
.titulo-sedes {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: lowercase;
  z-index: 2;
}

.titulo-sedes::before {
  content: '';
  width: 50px;
  height: 2px;
  background-color: white;
  margin-right: 10px;
  display: inline-block;
}

/* Contenedor principal de las sedes */
.sedes-container {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  background: #0B4C28;
  border-radius: 35px 0 0 35px;
  position: relative;
  overflow: visible;
  margin-right: 0;
  margin-left: auto;
}

.fondo-sedes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: 1;
  border-radius: 35px 0 0 35px;
}

/* Tarjetas de sedes */
.sede-card {
  position: absolute;
  z-index: 2;
  background: rgba(149, 149, 149, 0.9);
  padding: 15px 25px;
  border-radius: 35px;
  width: 45%;
  backdrop-filter: blur(5px);
  height: 150px;
  visibility: visible !important;
  overflow: hidden;
  transform: translateX(-300%);
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.sede-card.aos-animate {
  transform: translateX(0);
  opacity: 1;
}

/* Aseguramos que vuelvan a su posición inicial cuando no están visibles */
.sede-card:not(.aos-animate) {
  transform: translateX(-300%) !important;
  opacity: 0 !important;
}

.sede-galan {
  top: 5%;
  left: -15%;
}

.sede-comercio {
  bottom: 5%;
  left: -15%;
}

.sede-agroindustrial {
  top: 35%;
  left: 30%;
}

/* Estilos del título de la sede */
.sede-titulo {
  color: #BFFF71;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}

/* Estilos de la dirección */
.sede-direccion {
  color: #333;
  margin: 8px 0;
  font-size: 0.9rem;
}

/* Estilos del teléfono */
.sede-telefono {
  color: #333;
  margin: 8px 0;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 1200px) {
  .sedes-container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .sedes-container {
    width: 93%;
  }

  .sede-card {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  .sede-card:nth-child(1),
  .sede-card:nth-child(2) {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
