.oportunidades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #0B4C28;
    padding: 40px 20px;
    border-radius: 20px;
    color: white;
    position: relative;
    width: 93%;
    height: 850px;
    overflow: hidden;
    margin: 40px auto;
    transform: none;
  }
  .oportunidades-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px);
    z-index: 1;
  }
  
  .titulo-oportunidades {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 2;
  }
  
  .titulo-oportunidades span {
    display: inline-block;
    animation: waveText 5.5s ease-in-out infinite;
  }
  
  @keyframes waveText {
    0%, 18%, 100% {
      transform: translateY(0);
    }
    9% {
      transform: translateY(-15px);
    }
    18.1%, 100% {
      transform: translateY(0);
    }
  }
  
  .opciones-container {
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 70%;
    z-index: 2;
  }

  .oportunidades-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }  
  
  .opcion {
    display: flex;
    width: calc(33.33% - 20px);
    background: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .opcion img {
    width: 90%; /* Imagen más pequeña */
    height: auto;
    border-radius: 5px;
  }
  
  .opcion p {
    display: flex;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
  }

  .divider {
    width: 93%;
    height: 3px;
    background-color: #0B4C28;
    margin: 15px auto;
    border: none;
    transform: none;
  }
  
  .chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;

  }
  
  .chatbot img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .oportunidades-section {
    width: 100%;
    padding: 20px 0;
  }

  /* Aseguramos que ambas líneas tengan el mismo espaciado */
  .divider:first-of-type {
    margin: 15px auto 40px auto; /* 40px de espacio hacia la imagen */
  }

  .divider:last-of-type {
    margin: 40px auto 15px auto; /* 40px de espacio desde la imagen */
  }
  