
/* 🌍 Estilos del Header */
.DivHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(135deg, #a6a6a7, #2a5298); */
    background-color:  #F4FFF2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100px;
  }

  .LogoSena{
    height: 35px;
  }
  /*  Título */
  .DivHeader h1 {
    font-size: 45px;
    color: #0B4C28;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
  }
  
  .DivHeader h1 span {
    color: #BFFF71; 
  }
  
  /*  Estilos del Nav */
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }
  
  /* 📌 Estilos de los enlaces */
  nav ul li {
    display: flex;
    gap: 25px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
   
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  

  nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #00ff7f; /* Verde neón */
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  nav ul li a:hover {
    color: #a8eb12; 
  }
  
  
  .imgSenaUnity {
    height: 70px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .imgSenaUnity:hover {
    transform: scale(1.1);
  }
  
  
  
